{
  "GATEWAY_AUTH_TOKEN": "",
  "GROQ_API_KEY": "",
  "LAOZHANG_API_KEY": "",
  "MOLTBOOK_API_KEY": "",
  "PERPLEXITY_API_KEY": "",
  "TAPHOAAPI_API_KEY": "",
  "TELEGRAM_BOT_TOKEN": "",
  "TELEGRAM_CHAT_ID": "",
  "ZALO_BOT_TOKEN": "",
  "ZULIP_API_KEY": "",
  "ZULIP_EMAIL": "",
  "ZULIP_ORG_URL": ""
}
